.projectsPage {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
}

#memgameSS {
  height: 200px;
  width: auto;
  float: left;
}

#battleshipSS {
  width: 200px;
  height: auto;
  float: right;
}

#weatherSS {
  width: 180px;
  height: auto;
  float: right;
}

#battleshipArea {
  margin-left: auto;
  margin-right: auto;
}
#battleshipArea body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}
#battleshipArea header {
  text-align: center;
  background-color: black;
  padding-top: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#battleshipArea #headText {
  font-size: 60px;
  font-weight: bold;
  font-family: monospace;
  color: white;
}
#battleshipArea button {
  width: 200px;
  height: 40px;
  margin: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #616161;
  border: 2px solid white;
  border-radius: 8px;
}
#battleshipArea button:active {
  transform: translateY(2px);
}
#battleshipArea main {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 97vw;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
}
#battleshipArea section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  margin-top: 40px;
  min-width: 400px;
}
#battleshipArea #gameOverText {
  margin-top: 40px;
  color: red;
  font-size: 124px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
  text-align: center;
}
#battleshipArea .board {
  display: flex;
  border: 1px solid black;
}
#battleshipArea .box {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  background-color: #555555;
}
#battleshipArea .boxHit {
  width: 32px;
  height: 32px;
  background-color: red;
  border: 1px solid black;
}
#battleshipArea .boxMiss {
  width: 32px;
  height: 32px;
  background-color: green;
  border: 1px solid black;
}
#battleshipArea footer {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: system-ui;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}
#battleshipArea #createdBy {
  font-size: 16px;
  margin-bottom: -20px;
}

#weatherArea {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#weatherArea .weatherHeader {
  display: flex;
  align-items: center;
  height: 125px;
  color: white;
  font-weight: bold;
}
#weatherArea #headerLeft {
  font-size: 36px;
  font-style: italic;
  padding: 5px;
  margin-right: auto;
}
#weatherArea #headerRight {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 5px;
  width: 100%;
}
#weatherArea #headerRight input {
  width: 100px;
}
#weatherArea #headerRight > button {
  border: 2px solid white;
  color: white;
  font-weight: bold;
  background-color: rgba(80, 80, 80, 0.4);
  border-radius: 5px;
  margin: 0;
}
#weatherArea #headerRight > button:hover {
  background-color: rgba(138, 138, 138, 0.45);
}
#weatherArea #headerRight > button:active {
  transform: translateY(1px);
}
#weatherArea #weatherDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  background-color: rgba(30, 30, 30, 0.7);
}
#weatherArea #currentWeatherCard {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 300px;
  color: white;
  background-color: rgba(138, 138, 138, 0.45);
  border: 1px solid white;
  margin: 40px;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
#weatherArea #locationName {
  font-size: 36px;
  font-weight: bold;
}
#weatherArea #temperatureContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  width: 180px;
  height: 50px;
  justify-content: center;
  padding: 4px;
}
#weatherArea .bigTemperature {
  font-size: 48px;
}
#weatherArea .smallTemperature {
  margin-left: auto;
}
#weatherArea #currentWeatherCard img {
  width: 100px;
  height: 100px;
  margin: -10px;
}
#weatherArea #currentWeatherCard > p {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
}
#weatherArea .weatherFooter {
  text-align: center;
}

@media screen and (max-width: 800px) {
  #battleshipArea #headText {
    font-size: 36px;
  }
  #battleshipArea main {
    flex-direction: column;
    padding-bottom: 60px;
    gap: 0;
  }
  #battleshipArea #gameOverText {
    font-size: 72px;
    margin-top: -40px;
    margin-bottom: 48px;
  }
  #battleshipArea section {
    min-width: 300px;
    gap: 8px;
    padding: 4px;
  }

  #weatherArea .weatherHeader {
    flex-direction: column;
  }
  #weatherArea #headerLeft {
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  #weatherArea .weatherFooter {
    font-size: 12px;
  }
}
@media screen and (max-width: 540px) {
  #battleshipArea #headText {
    font-size: 24px;
  }
  #battleshipArea #gameOverText {
    font-size: 60px;
    margin-top: -40px;
    margin-bottom: 60px;
  }
  #battleshipArea .box {
    width: 28px;
    height: 28px;
  }
  #battleshipArea .boxHit {
    width: 28px;
    height: 28px;
  }
  #battleshipArea .boxMiss {
    width: 28px;
    height: 28px;
  }

  #weatherArea #currentWeatherCard {
    transform: scale(0.7);
  }
}

/*# sourceMappingURL=Projects.css.map */
