$outer-bg-color: rgba(80, 80, 80, 0.4);
$content-bg-color: rgba(30, 30, 30, 0.7);
$nav-grad-color: rgba(138, 138, 138, 0.45);
$page-max-width: 800px;
$textcolor: white;
$linkcolor: rgb(205, 205, 205);
$bgblur: 3px;
$nav-height: 75px;
$nav-height-med: 105px;
$min-width: 350px;
$width-bp1: 800px;
$width-bp2: 540px;