@use './variables' as var;

.App {
  background-image: url("../images/galaxy_e.jpg");
  color: var.$textcolor;
  font-weight: 400;
  font-size: 18px;
}

a {
  color: var.$textcolor;
}
a:hover {
  color: var.$linkcolor;
}

#contentArea {
  box-sizing: border-box;
  background-color: var.$content-bg-color;
  width: 100vw;
  min-height: calc(100vh - 75px);
}

h1 {
  text-align: center;
  margin: 50px;
  font-size: 32px;
}

.toLeft {
  margin-right: auto;
}

.toRight {
  margin-left: auto;
}

.clear {
  clear: both;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}