@use './variables' as var;

.App {
  background-image: url("../images/galaxy_e.jpg");
  color: var.$textcolor;
  font-weight: 400;
  font-size: 18px;
  min-width: var.$min-width;
}

a {
  color: var.$textcolor;
}
a:hover {
  color: var.$linkcolor;
}

#contentArea {
  box-sizing: border-box;
  background-color: var.$content-bg-color;
  width: 100vw;
  min-height: calc(100vh - var.$nav-height);
}

h1 {
  text-align: center;
  margin: 50px;
  font-size: 32px;
}

img {
  box-sizing: border-box;
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px solid var.$outer-bg-color;
  margin: 25px;
}

.toLeft {
  margin-right: auto;
}

.toRight {
  margin-left: auto;
}

.clear {
  clear: both;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: var.$width-bp1) {
  #contentArea {
    min-height: calc(100vh - var.$nav-height-med);
  }
}
