@use '_variables' as var;

.homePage {
  display: flex;
  flex-direction: column;
  max-width: var.$page-max-width;
  margin-left: auto;
  margin-right: auto;
  min-width: var.$min-width;
}

@media screen and (max-width: var.$width-bp2) {
  .homeSelfImg {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
  }
}