@use '_variables' as var;

.homePage {
  display: flex;
  flex-direction: column;
  max-width: var.$page-max-width;
  margin-left: auto;
  margin-right: auto;
}

img {
  box-sizing: border-box;
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px solid var.$outer-bg-color;
  margin: 25px;
}