@use '_variables' as var;

header {
  background-color: var.$outer-bg-color;
  width: 100vw;
  backdrop-filter: blur(var.$bgblur);
  min-width: var.$min-width;
} 

.logo {
  box-sizing: border-box;
  padding: 10px;
}

.navPage {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: var.$nav-height;
  .highlight {
    text-decoration: none;
    padding: 5px;
    border-radius: 50%;
  }
  .highlight:hover {
    background-image: radial-gradient(ellipse at center, var.$nav-grad-color, var.$content-bg-color);
  }
  max-width: var.$page-max-width;
  margin-left: auto;
  margin-right: auto;
}

.nameArea {
  margin-top: 20px;
  margin-left: 5px;
  float: right;
  .name {
    font-size: 28px;
    font-weight: bolder;
  }
  .desc {
    font-size: 14px;
  }
}

#logoLink:hover {
  color: var.$textcolor;
}

#planet {
  float: left;
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  transform: rotateZ(-15deg);
  .rings {
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse farthest-side at center, rgba(0, 0, 0, 0) 50%, black 55%, rgb(20, 20, 20) 75%, black 90%, rgba(0, 0, 0, 0) 100%);
    transform: rotateX(75deg);
  }
  .planet {
    background: green;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 27px;
    left: 27px;
    border-radius: 50%;
  }
  .top {
    clip: rect(0px, 45px, 22px, 0px);
  }
  .bottom {
    clip: rect(22px, 45px, 45px, 0px);
  }
  .planet-bg {
    background: radial-gradient(circle at center, rgb(40, 40, 40), rgb(0, 0, 0) 80%);
  }
}

@media screen and (max-width: var.$width-bp1) {
  .navPage {
    flex-direction: column;
    height: (var.$nav-height-med);
  }

  .logo {
    padding: 10px;
    margin: -30px;
  }

  .navLinks {
    margin: 0;
    margin-top: -20px;
    z-index: 1;
  }
}

@media screen and (max-width :var.$width-bp2) {
  .navLinks {
    a {
      font-size: 12px;
    }
  }
}