@use '_variables' as var;

header {
  background-color: var.$outer-bg-color;
  width: 100vw;
  backdrop-filter: blur(var.$bgblur);
} 

.logo {
  padding: 10px;
}

.navPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75px;
  a {
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
  }
  a:hover {
    background-image: radial-gradient(ellipse at center, var.$nav-grad-color, var.$content-bg-color);
  }
  max-width: var.$page-max-width;
  margin-left: auto;
  margin-right: auto;
}

