@use '_variables' as var;

.projectsPage {
  display: flex;
  flex-direction: column;
  max-width: var.$page-max-width;
  margin-left: auto;
  margin-right: auto;
  min-width: var.$min-width;
}

#memgameSS {
  height: 200px;
  width: auto;
  float: left;
}

#battleshipSS {
  width: 200px;
  height: auto;
  float: right;
}

#weatherSS {
  width: 180px;
  height: auto;
  float: right;
}

#battleshipArea {
  margin-left: auto;
  margin-right: auto;

  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
  }
  
  header {
    text-align: center;
    background-color: black;
    padding-top: 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  #headText {
    font-size: 60px;
    font-weight: bold;
    font-family: monospace;
    color: white;
  }
  
  button {
    width: 200px;
    height: 40px;
    margin: 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(97, 97, 97);
    border: 2px solid white;
    border-radius: 8px;
  }
  button:active{
    transform: translateY(2px);
  }
  
  main {
    box-sizing: border-box;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 97vw;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
    margin-top: 40px;
    min-width: 400px;
  }
  
  #gameOverText {
    margin-top: 40px;
    color: red;
    font-size: 124px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    text-align: center;
  }
  
  .board {
    display: flex;
    border: 1px solid black;
  }
  
  .box {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color: rgb(85, 85, 85);
  }
  .boxHit {
    width: 32px;
    height: 32px;
    background-color: red;
    border: 1px solid black;
  }
  .boxMiss {
    width: 32px;
    height: 32px;
    background-color: green;
    border: 1px solid black;
  }
  
  footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: system-ui;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
  }
  
  #createdBy {
    font-size: 16px;
    margin-bottom: -20px;
  }
}

#weatherArea {
  max-width: var.$page-max-width;
  margin-left: auto;
  margin-right: auto;

  .weatherHeader {
    display: flex;
    align-items: center;
    height: 125px;
    color: white;
    font-weight: bold;
  }
  #headerLeft {
    font-size: 36px;
    font-style: italic;
    padding: 5px;
    margin-right: auto;
  }
  #headerRight {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 5px;
    width: 100%;
    input {
      width: 100px;
    }
  }
  #headerRight > button {
    border: 2px solid white;
    color: white;
    font-weight: bold;
    background-color: var.$outer-bg-color;
    border-radius: 5px;
    margin: 0;
  }
  #headerRight > button:hover {
    background-color: var.$nav-grad-color;
  }
  #headerRight > button:active {
    transform: translateY(1px);
  }
  
  #weatherDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    background-color: var.$content-bg-color;
  }
  
  #currentWeatherCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 300px;
    color: white;
    background-color: var.$nav-grad-color;
    border: 1px solid white;
    margin: 40px;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  
  #locationName {
    font-size: 36px;
    font-weight: bold;
  }
  
  #temperatureContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
    width: 180px;
    height: 50px;
    justify-content: center;
    padding: 4px;
  }
  
  .bigTemperature {
    font-size: 48px;
  }
  
  .smallTemperature {
    margin-left: auto;
  }
  
  #currentWeatherCard img {
    width: 100px;
    height: 100px;
    margin: -10px;
  }
  
  #currentWeatherCard > p {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
  }

  .weatherFooter {
    text-align: center;
  }
}

#pdfGenArea {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: var.$page-max-width;
  align-items: center;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;

  p {
    text-align: center;
    font-size: 16px;
  }
  
  button {
    margin: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section {
    box-sizing: border-box;
    padding: 10px;
    max-width: 600px;
    border-bottom: 2px solid var.$nav-grad-color;
  }

  .oneLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    li {
      margin-right: auto;
      margin-left: 10px;
    }
    button {
      width: 100px;
      margin: 0;
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    button {
      width: 150px;
    }
  }
  
  .inputSectionHeader {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .inputArea {
    box-sizing: border-box;
    display: flex;
    gap: 10px;
  }
  
  .inputArea > input {
    width: 400px;
    margin-left: auto;  
  }
  
  textarea {
    width: 400px;
    margin-left: auto;
    
  }
  
  .outputSection {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .sectionHeader {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 8px;
    margin-bottom: 24px;
    text-decoration: underline;
  }
  
  .pushRight {
    margin-left: auto;
  }
  
  ul {
    list-style: none;
  }
  
  #finalView {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    border: 1px solid black;
  }
  
  #generalOutput {
    text-align: center;
  }
  
  .place {
    font-size: 18px;
    font-weight: bold;
  }
  
  #skillsOutput {
    margin-top: 16px;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
  }

  .eduSection {
    display: flex;
    flex-direction: column;
    button {
      width: 150px;
    }
  }
  
  .eduList {
    display: flex;
    flex-direction: column;
    margin: 16px;
  }
  
  .buttons button {
    margin: 20px;
  }
}

@media screen and (max-width: var.$width-bp1) {
  #battleshipArea {
    #headText {
      font-size: 36px;
    }
    main {
      flex-direction: column;
      padding-bottom: 60px;
      gap: 0;
    }
    #gameOverText {
      font-size: 72px;
      margin-top: -40px;
      margin-bottom: 48px;
    }
    section {
      min-width: 300px;
      gap: 8px;
      padding: 4px;
    }
  }

  #weatherArea {
    .weatherHeader {
      flex-direction: column;
    }
    #headerLeft {
      font-size: 24px;
      text-align: center;
      margin: 0;
    }
    .weatherFooter {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: var.$width-bp2) {
  #battleshipArea {
    #headText {
      font-size: 24px;
    }
    #gameOverText {
      font-size: 60px;
      margin-top: -40px;
      margin-bottom: 60px;
    }
    .box {
      width: 28px;
      height: 28px;
    }
    .boxHit {
      width: 28px;
      height: 28px;
    }
    .boxMiss {
      width: 28px;
      height: 28px;
    }
  }

  #weatherArea {
    #currentWeatherCard {
      transform: scale(.7);
    }
  }
}